* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px 16px 120px;

}

.navbar-logo {
  width: 139px;
  height: 60px;
}


.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
 
}

.navbar-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 152%;
}

.btn-primary {
  background-color: #469165;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-style: semibold;
  line-height: 100%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #30B868;
}

/* Hero Section Styles */
.hero-section {
  background-image: url('assets/hero-bg.png');
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 120px 134px 120px;
  gap: 40px;
}

.hero-content {
  text-align: center;
  max-width: 800px;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #ffffff;
  padding: 8px 12px 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #30B868;
  font-weight: 500;
  line-height: 100%;
}

.badge-dot {
  width: 6px;
  height: 6px;
  background-color: #30B868;
  border-radius: 50%;
  display: inline-block;
}

.hero-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.title-white {
  color: #ffffff;
}

.title-green {
  color: #30B868;
}

.hero-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 40px;
  max-width: 1360px;
  max-height: 60px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-hero-primary {
  background-color: #469165;
  color: #ffffff;
  border: none;
  width: 251px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-style: semibold;
  line-height: 100%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-hero-primary:hover {
  background-color: #30B868;
}

.btn-hero-secondary {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 198px;
  height: 52px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-style: semibold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-hero-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}