.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px 16px 120px;

}

.navbar-logo {
  width: 139px;
  height: 60px;
}


.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
 
}

.navbar-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 152%;
}

.btn-primary {
  background-color: #469165;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-style: semibold;
  line-height: 100%;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #30B868;
}